.capa img{
	width: 100%;
	height: 75%;
}
.linha{
	border: solid #000; 
}
iframe{
	width: 100%;
	height: 100%;
	min-height: 250px;
}
form{
	font-size: 16px;
	background: #CCC;
	width: 100%;
	height: 100%;
	padding: 10px 10px 10px 10px;
}
.enviar input{
	background: #069;
	width: 150px;
	height: 50px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid;
	color: #fff;
	cursor: pointer;
}

.enviar input:hover{
	background: #065;
}

.marcador {
	margin: 18px 0px;
}

h1{
	color: #333;
}
input, textarea{
	width: 100%;
	padding: 10px;
	line-height: 100%;
}
