*{
	margin: 0;
	padding: 0;
}
.capa img{
	width: 100%;
	height: 75%;
}
.linha{
	border: solid #000; 
}
iframe{
	width: 100%;
	height: 100%;
	margin-bottom: 20%;	
}
form{
	font-size: 16px;
	background: #CCC;
	width: 100%;
	height: 100%;
	padding: 10px 10px 10px 10px;
	

}
.enviar input{
	background: #069;
	width: 150px;
	height: 50px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid;
	color: #fff;
	cursor: pointer;
}
.enviar input:hover{
	background: #065;
}
h1{
	color: #333;
}
input, textarea{
	width: 100%;
	padding: 10px;
	line-height: 100%;
}
